*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-rows: min-content 1fr;
}

header {
    height: 100vh;
    background-image: url(pexels-hasan-albari-1229861.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    /* margin-left: 50px; */
    text-align: center;
    color: whitesmoke;
    padding-inline: 20px;
}

.header h2,
h1 {
    font-size: 80px;
    text-align: center;
    /* text-shadow:0 0 15px #000; */
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 8, 20, 1) 12%, rgba(0, 212, 255, 0) 100%);
}

ul {
    list-style: none;

}

.navbarlinks {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.navbarlinks li {
    /* margin: 0 90px; */
}

.card {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    transition: transform 0.5s;
    text-shadow: 0 0 15px #000;

}

.card1 {
    color: rgb(37, 37, 37);
    background-image: url(./1.jpg);
}

.card2 {
    color: whitesmoke;
    background-image: url(./2.jpg);

}

.card3 {
    background-image: url(./3.jpg);
}

.card4 {
    background-image: url(./4.jpg);
}

.work {
    /* height: 100vh; */
    height: fit-content;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 20px;
    padding-inline: 20px;
}

.card:hover {
    transform: translateY(-20px)
}

.aboutme {
    display: grid;
    align-items: center;
    justify-content: right;
}

.description {
    position: relative;
    right: 1%;
    font-size: 35px;
    padding-left: 20px;
    margin: 40px 20px;
}

.banner {
    background-image: url(./profilepic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

@media (min-width:768px) {
    .aboutme {
        height: 100vh;
        grid-template-columns: 1fr 1fr;
    }

    .description {
        margin: 0;
    }

    .banner {
        height: 100%;
        background-position: left;
        background-size: contain;
    }

    .work {
        grid-template-columns: repeat(4, 1fr);
    }
}

span,
h2 {
    color: #e63946;
}

.work__block h2 {
    margin: 50px 20px 20px;
    color: black;
}

footer {
    height: auto;
    padding: 40px 0;
    background: #111;
    text-align: center;
    color: white;
}

.list li {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.list a {
    color: whitesmoke;
}

.social a {
    color: whitesmoke;
}